#dashboard{
    height: 80vh;
}
#right-dashboard{
    height:100%;
}
#top-stocks{
    height: 20%;
    background-color: #3C3B3B;
    color: white;
    margin: 16px;
    border-radius: 8px;
}
.top-stock-item{
    font-size: 3vw;
    text-align: center;
    div{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.positive{
    color: green;
}
.negative{
    color: red;
}
.list-container{
    height: 100%;
    box-sizing: border-box;
}