#dashboard{
    height: 80vh;
}
#right-dashboard{
    height:100%;
}
#top-stocks{
    height: 20%;
    background-color: #242424;
     height: 20vh;
    color: white;
    margin: 16px;
    border-radius: 8px;
}
.top-stock-item-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-stock-item{
    font-size: 3vw;
    text-align: center;
    div{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.top-stock-price{
    font-size: 4vh;
}

.positive,.negative,.neutral{
    padding-left: 8px;
}
.list-container{
    height: 100%;
    box-sizing: border-box;
}
#active-rooms{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Small Screens <= 640px */
@media only screen and (max-width: 640px) {
  #top-stocks{
    height: 40vh;
  }
}