#home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 55%;
    }
    margin-top: 12vh;
}
#title-container{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: center;
}
#titles{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    margin-right: 16px;
    color: white;
    h1{
        font-size: 120px;
        margin-bottom: 16px;
    }
    h2{
        margin-top: 16px;
        font-size: 50px;
    }
}
#dashboard-image{
    width: fit-content;
}
#home-text-container{
    font-size: 30px;
    width: 80%;
    text-align: start;
    color: white;
    p{
        width: 70%;
    }
}


