.room-half{
    height:40vh;
    margin-bottom: 8px;
    .chat-room-list{
        box-sizing: border-box;
        height: 45vh;
    }
}

.stock-chart{
    background-color: white;
    border-radius: 8px;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
    flex-direction: column;
    box-sizing: border-box;
    padding: 8px;
    //padding: 16px 0;
    .stock-chart-controls{
        display: flex;
        button{
            margin: 0px 4px;
        }
        button.active{
            margin: -3px 4px;
            border: 3px solid green;
        }
    }
}
.stock-data-summary{
    max-height: 40vh;
    overflow-y: scroll;
  overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #242424;
    border-radius: 8px;
    margin: 0 16px;
    color: white;
    &>div{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
        
    }
    padding: 16px 32px;
    font-size: 24px;
    box-sizing: inherit;
    p{
        font-size: 16px;
    }
}
.stock-desc{
    display: flex;
    flex-direction: column;
    text-align: start;
}
#favorite-container{
       
    display: flex;
    flex-direction: column;
     align-items: flex-end;
    justify-content: flex-end;
    button{
        background-color: white;
        border: 2px white solid;
        background: none;
        color:white;
        font-family: inherit;
        padding: 4px;
        margin: 8px 0;
    }
    button:hover{
        cursor: pointer;
    }
}
#company-name{
    font-size: 48px;
    text-align: start;
}
#company-title{
    display: flex;
    align-items: flex-end;
}
#price{
    font-size: 32px;
}
.user-list{
    #user-list-label{
        font-size: 40px;
        font-weight: 700;
        margin-top: 24px;
    }
    background-color: white;
    height: 45vh;

    margin-top: 32px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;

    align-items: center;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        list-style: none;
        padding: 0 16px;
        box-sizing: border-box;
        width: 100%;
    }
    li{
        box-sizing: border-box;
        margin: 8px 16px;
        width: 100%;
    }
    a{
        text-decoration: none;
    }
    .user{
        width: 100%;
        height: 60px;
        box-sizing: border-box;
        border: 5px blue solid;
        color:black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:1.4vw; 
        overflow-y: hidden;
        overflow-x: hidden;
    }
}
.bottom-half{
    margin-top: -48px;
}

.chat-box{
    box-sizing: border-box;
    height: 45vh;
    background-color: white;
    margin: 32px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 16px 16px;
    .message-list {
        width: 100%;
    }
    .message{
        padding: 8px;
        border: 3px blue solid;
        text-align: start;
    }
    form{
        margin-top: 4px;
        width: 100%;
        display: flex;
        height: 30px;
        input{
            flex-grow: 5;
        }
        button{
            flex-grow: 1;
        }
    }

}

#current-price {
    justify-content: flex-start;
}

span.price-value{
    font-size: 28px;
}
span.price-change{
    font-size: 20px;
}
#stock-room-list{
    height: 45vh;
}