.room-list-title{
    font-weight: 700;
    font-size: 3vw;
}
.room-list{
    background-color: white;
    border-radius: 5px;
    margin:32px;
    padding: 32px 0;
    overflow-y: scroll;
  overflow-x: hidden;
    box-sizing: border-box;
    width: 90%;

    ul{
        list-style: none;
        padding: 0;
        list-style-position: inside;
    }
    li{
        height:auto;
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height:100%;
            font-size: 3vw;
            color: black;
            text-decoration: none;
            overflow-y: hidden;
  overflow-x: hidden;
        }
        .activity{
            justify-content: space-around;
            .active{
                font-weight: 300;
                font-size: 1.6vw;
                flex-direction: row;
                img{
                    width: 16px;
                }
            }
        }
        margin: 1vh 2vw;
        border: 5px solid blue;
        overflow-y: hidden;
  overflow-x: hidden;
        border-radius: 5px;
        .change{
            font-size: 2vw;
        }
    }

    a{
        text-decoration: none;
    }
}
.room-list.prices{
    height: 70vh;
}
.room-list.active{
    height: 85vh;
}
.list-change{
    font-size: 2.4vw;
}
.list-percent{
    font-size: 1.6vw;
}